<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <button mat-button *ngIf="authService.isAuthenticated()" (click)="logout()">Logout</button>
  <a mat-button *ngIf="!authService.isAuthenticated()" routerLink="/login">Login</a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav
               [mode]="'side'"
               [opened]="true"
               [class.collapsed]="isCollapsed"
               (mouseenter)="isHovered = true"
               (mouseleave)="isHovered = false">

    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems">

        <mat-expansion-panel *ngIf="item.children" [ngClass]="{'expanded': !isCollapsed || isHovered}">
          <mat-expansion-panel-header>
            <mat-icon>{{ item.icon }}</mat-icon>
            <span *ngIf="!isCollapsed || isHovered">{{ item.label }}</span>
          </mat-expansion-panel-header>
          <mat-nav-list *ngIf="!isCollapsed || isHovered">
            <a mat-list-item *ngFor="let child of item.children" routerLink="child.link">
              {{ child.label }}
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <a mat-list-item *ngIf="!item.children"
           [outerLink="item.link"
           matTooltip="{{ item.label }}"
           matTooltipPosition="right">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span *ngIf="!isCollapsed || isHovered">{{ item.label }}</span>
        </a>

      </ng-container>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
