<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>

      <!-- Loop through menu items -->
      <ng-container *ngFor="let item of menuItems">

        <!-- If item has children (Expansion Panel) -->
        <mat-expansion-panel *ngIf="item.children && canAccess(item)">
          <mat-expansion-panel-header>
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item *ngFor="let child of item.children"
               routerLink="child.link">
              {{ child.label }}
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <!-- If item does not have children (Regular Menu Item) -->
        <a mat-list-item *ngIf="!item.children && canAccess(item)"
           routerLink="item.link">
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.label }}
        </a>

      </ng-container>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
